main {
    display: grid;
    grid-template-columns: 300px 1fr;
    background-color: #d6d6d2;
    border-radius: 12px;
    padding: 30px;
    

}

#conteudo {
    border-radius: 12px;
    padding: 30px;
}

#nav-menu {
    max-width: 300px;
    min-height: 100vh;
}

#conteudo h1 {
    margin: 10px;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#total-cadastrado {
    border-radius: 20px;
    display: flex;
    margin: 10px;
    margin-bottom: 50px;
    align-items: center;
    background-color: #e4eaf0;
    max-width: 600px;
    height: 100px;
}

#total-cadastrado p {
    display: flex;
    margin: 5px;
    color: tomato;
    text-transform: uppercase;
    font-size: 20px;
    font-family: monospace;
}

#tabela h2 {
    margin: 10px;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.scroll-container {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background: rgb(211, 243, 246);
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    position: sticky;
    top: 0;
    background: #b2d9e6;
    padding: 8px;
}

#footer-kiza {
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #00ffff;
}

.links-kiza a {
    margin: 0 10px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
}