* {
    font-family: 'Poppins', 'Arial', 'Times New Roman';
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.nav-menu {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 90px;
    padding: 30px;
    background-color: #f5f5f5;
    align-items: stretch;
    border-radius: 20px;
    height: 100%;
    min-width: 300px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: stretch;
}

.nav-button {
    width: 100%;
    text-align: center;
    display: flex;
    border-radius: 50px;
    transition: all 0.3s ease;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0 15px 0 55px; 
    min-height: 50px;
    background-color: #dfdfdf;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

a.nav-button {
    flex-grow: 1;
    text-align: center;
}

.nav-button:hover {
    background-color: #bbbbbb;
    transform: translateX(5px);
}

.logout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.logout-area {
    margin-top: auto;
    width: 100%;
}

.logout-area form {
    width: 100%;
}

.logo-area {
    display: flex;             
    justify-content: center;  
    border-radius: 20px;
    overflow: hidden;
}

span.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    position: absolute;
    left: 10px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.nav-button span:not(.icon) {
    width: 100%;
    text-align: center;
    padding-left: 0;
    margin-left: 0;
}